<font size="+3"><strong>Wrangling Data with SQL</strong></font>

In [ ]:
# Import libraries
import sqlite3
import pandas as pd

# Prepare Data

## Connect

In [ ]:
%load_ext sql

%%sql sqlite:///nepal.db

## Explore

In [ ]:
# How many tables are in the nepal.db database? What information do they hold?

%%sql
SELECT * FROM sqlite_schema

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[('table', 'building_damage', 'building_damage', 2, 'CREATE TABLE "building_damage" (\n\t"building_id"\tINTEGER,\n\t"district_id"\tINTEGER,\n\t"vdcmun_id"\tINTEGER,\n\t"ward_id"\tINTEGER,\n\t"damage_ove ... (3076 characters truncated) ... ide"\tINTEGER,\n\t"has_geotechnical_risk_rock_fall"\tINTEGER,\n\t"has_geotechnical_risk_flood"\tINTEGER,\n\t"has_geotechnical_risk_other"\tINTEGER\n)'),
 ('table', 'building_structure', 'building_structure', 3, 'CREATE TABLE "building_structure" (\n\t"building_id"\tINTEGER,\n\t"count_floors_pre_eq"\tINTEGER,\n\t"count_floors_post_eq"\tINTEGER,\n\t"age_buildin ... (256 characters truncated) ... \t"position"\tTEXT,\n\t"plan_configuration"\tTEXT,\n\t"condition_post_eq"\tTEXT,\n\t"technical_solution_proposed"\tTEXT,\n\t"superstructure"\tTEXT\n)'),
 ('table', 'household_demographics', 'household_demographics', 4, 'CREATE TABLE "household_demographics" (\n\t"household_id"\tINTEGER,\n\t"gender_household_head"\tTEXT,\n\t"age_household_head"\tINTEGER,\n\t"caste_hou ... (27 characters truncated) ... n_level_household_head"\tTEXT,\n\t"income_level_household"\tTEXT,\n\t"size_household"\tINTEGER,\n\t"is_bank_account_present_in_household"\tINTEGER\n)'),
 ('table', 'id_maps', 'id_maps', 7, 'CREATE TABLE "id_maps" (\n\t"building_id"\tINTEGER,\n\t"district_id"\tINTEGER,\n\t"vdcmun_id"\tINTEGER,\n\t"household_id"\tINTEGER\n)')]

In [ ]:
# Select the name column from the sqlite_schema table, showing only rows where the type is "table"

%%sql
SELECT name
FROM sqlite_schema
WHERE type = "table"

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[('building_damage',),
 ('building_structure',),
 ('household_demographics',),
 ('id_maps',)]

How is the data organized? What type of observation does each row represent? How
the **household_id**, **building_id**, **vdcmun_id**, and **district_id** columns are related to each other?

In [ ]:
# Select all columns from the id_map table, with limiting our results to the first five rows

%%sql
select * from id_maps limit 5

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(120101000011, 12, 1207, 12010100001101),
 (120101000021, 12, 1207, 12010100002101),
 (120101000031, 12, 1207, 12010100003101),
 (120101000041, 12, 1207, 12010100004101),
 (120101000051, 12, 1207, 12010100005101)]

In [ ]:
# How many observations are in the id_maps table?

%%sql
select count(*) from id_maps

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(261343,)]

In [ ]:
# What districts are represented in the id_maps table?

%%sql
select distinct(district_id)
from id_maps

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(12,), (22,), (24,), (36,)]

In [ ]:
# How many buildings are there in id_maps table?

%%sql
select count(distinct (building_id))
from id_maps

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(261343,)]

In [ ]:
"""
    For our model, weâ€™ll focus on Gorkha (district 36).
    Select all columns that from id_maps, showing only rows where the district_id is 36.

"""

%%sql
select *
from id_maps
where district_id = 36
limit 5

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(360106001171, 36, 3609, 31350400116101),
 (360106001181, 36, 3609, 31350500019101),
 (360107000161, 36, 3609, 31350500043101),
 (360107000381, 36, 3609, 31350500064101),
 (360202000691, 36, 3601, 31350800030101)]

In [ ]:
# How many observations in the id_maps table come from Gorkha?

%%sql
select count(*) from id_maps where district_id = 36

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(63333,)]

In [ ]:
# How many buildings in the id_maps table are in Gorkha?

%%sql
select count(distinct (building_id)) as unique_buildings_gorkha from id_maps
where district_id = 36

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(63333,)]

In [ ]:
# Select all the columns from the building_structure table

%%sql
select * from building_structure limit 5

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(120101000011, 1, 1, 9, 288, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Major repair', 'mud mortar ,stone'),
 (120101000021, 1, 1, 15, 364, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Reconstruction', 'bamboo'),
 (120101000031, 1, 1, 20, 384, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Minor repair', 'mud mortar ,stone'),
 (120101000041, 1, 1, 20, 312, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Minor repair', 'bamboo'),
 (120101000051, 1, 1, 30, 308, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Minor repair', 'mud mortar ,stone')]

In [ ]:
# How many building are there in the building_structure table?

%%sql
select count(*) from building_structure

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(276084,)]

In [ ]:
"""
There are over 200,000 buildings in the `building_structure` table, but how can
we retrieve only buildings that are in Gorkha?
"""

%%sql
select *
from id_maps as i
join building_structure as s
on i.building_id = s.building_id
where district_id = 36
limit 5

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(360106001171, 36, 3609, 31350400116101, 360106001171, 2, 0, 4, 280, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone'),
 (360106001181, 36, 3609, 31350500019101, 360106001181, 1, 0, 15, 120, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Attached-1 side', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone'),
 (360107000161, 36, 3609, 31350500043101, 360107000161, 2, 0, 25, 300, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone'),
 (360107000381, 36, 3609, 31350500064101, 360107000381, 2, 0, 22, 155, 16, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble clear', 'Reconstruction', 'mud mortar ,stone'),
 (360202000691, 36, 3601, 31350800030101, 360202000691, 2, 0, 20, 240, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Brick/Stone', 'TImber/Bamboo-Mud', 'Attached-1 side', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone')]

In [ ]:
# Use the distinct command to create a column with all unique building IDs in the `id_maps` table

%%sql
select distinct (i.building_id), s.*
from id_maps as i
join building_structure as s
on i.building_id = s.building_id
where district_id = 36
limit 5

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(360106001171, 360106001171, 2, 0, 4, 280, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone'),
 (360106001181, 360106001181, 1, 0, 15, 120, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Attached-1 side', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone'),
 (360107000161, 360107000161, 2, 0, 25, 300, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone'),
 (360107000381, 360107000381, 2, 0, 22, 155, 16, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble clear', 'Reconstruction', 'mud mortar ,stone'),
 (360202000691, 360202000691, 2, 0, 20, 240, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Brick/Stone', 'TImber/Bamboo-Mud', 'Attached-1 side', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone')]

In [ ]:
for row in cur.execute(""" select distinct (i.building_id), s.*
from id_maps as i
join building_structure as s
on i.building_id = s.building_id
where district_id = 36
limit 5 """
):
    print(row)

(360106001171, 360106001171, 2, 0, 4, 280, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone')
(360106001181, 360106001181, 1, 0, 15, 120, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Attached-1 side', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone')
(360107000161, 360107000161, 2, 0, 25, 300, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone')
(360107000381, 360107000381, 2, 0, 22, 155, 16, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble clear', 'Reconstruction', 'mud mortar ,stone')
(360202000691, 360202000691, 2, 0, 20, 240, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Brick/Stone', 'TImber/Bamboo-Mud', 'Attached-1 side', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone')

Weâ€™ve combined the id_maps and building_structure tables to create a table with all the buildings
in Gorkha, but the final piece of data needed for our model, the damage that each building sustained
in the earthquake, is in the building_damage table.

In [ ]:
# Include the damage_grade column to our table by adding a second JOIN for the building_damage table

%%sql
select distinct (i.building_id) as b_id, s.*, d.damage_grade
from id_maps as i
join building_structure as s
on i.building_id = s.building_id
join building_damage as d
on i.building_id = d.building_id
where i.district_id = 36
limit 5

   sqlite:////nepal.db
 * sqlite:///nepal.db
Done.

[(360106001171, 360106001171, 2, 0, 4, 280, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone', 'Grade 5'),
 (360106001181, 360106001181, 1, 0, 15, 120, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Attached-1 side', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone', 'Grade 5'),
 (360107000161, 360107000161, 2, 0, 25, 300, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone', 'Grade 5'),
 (360107000381, 360107000381, 2, 0, 22, 155, 16, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble clear', 'Reconstruction', 'mud mortar ,stone', 'Grade 5'),
 (360202000691, 360202000691, 2, 0, 20, 240, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Brick/Stone', 'TImber/Bamboo-Mud', 'Attached-1 side', 'Rectangular', 'Damaged-Rubble unclear', 'Reconstruction', 'mud mortar ,stone', 'Grade 5')]

## Import

In [ ]:
# Use the connect method from the sqlite3 library to connect to the database

conn = sqlite3.connect('nepal.db')

In [ ]:
# Put our last SQL query into a string and assign it to the variable query.

query = """
    select distinct (i.building_id) as b_id, s.*, d.damage_grade
    from id_maps as i
    join building_structure as s
    on i.building_id = s.building_id
    join building_damage as d
    on i.building_id = d.building_id
    where i.district_id = 36

"""
print(query)

select distinct (i.building_id) as b_id, s.*, d.damage_grade
from id_maps as i
join building_structure as s
on i.building_id = s.building_id
join building_damage as d
on i.building_id = d.building_id
where i.district_id = 36

In [ ]:
# Use the read_sql from the pandas library to create a DataFrame from our query

df = pd.read_sql(query, conn, index_col= "b_id")
df.head()

,building_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,condition_post_eq,technical_solution_proposed,superstructure,damage_grade
b_id,,,,,,,,,,,,,,,,,,
360106001171,360106001171,2,0,4,280,18,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Rubble unclear,Reconstruction,"mud mortar ,stone",Grade 5
360106001181,360106001181,1,0,15,120,18,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Not applicable,Attached-1 side,Rectangular,Damaged-Rubble unclear,Reconstruction,"mud mortar ,stone",Grade 5
360107000161,360107000161,2,0,25,300,14,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Rubble unclear,Reconstruction,"mud mortar ,stone",Grade 5
360107000381,360107000381,2,0,22,155,16,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Rubble clear,Reconstruction,"mud mortar ,stone",Grade 5
360202000691,360202000691,2,0,20,240,14,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Brick/Stone,TImber/Bamboo-Mud,Attached-1 side,Rectangular,Damaged-Rubble unclear,Reconstruction,"mud mortar ,stone",Grade 5